<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <akka>
    <hocon>
      <![CDATA[
      akka {
      
        log-config-on-start = off
        loglevel = WARNING
        
        actor {
          
          debug {
          
            receive = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
          
          }
          
          deployment {
          
            /JobCoordinator/PaymentWorkers {
            
              router = round-robin-pool
              nr-of-instances = 5
              
            
            }
          
          }
          
        }
      
      }
      ]]>
    </hocon>
  </akka>
</configuration>