<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <akka>
    <hocon>
      <![CDATA[
      akka {
      
        log-config-on-start = off
        loglevel = WARNING
        
        actor {
          
          debug {
          
            receive = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
          
          }
          
          deployment {
          
            /JobCoordinator/PaymentWorkers {
            
              router = round-robin-pool
              
              resizer {
              
                enabled = on
                lower-bound = 3
                upper-bound = 5
                
                # advanced settings
                message-per-resize = 10
                rampup-rate = 0.2
                backoff-rate = 0.1
                pressure-threshold = 1
                backoff-threshold = 0.3
              
              }
            
            }
          
          }
          
        }
      
      }
      ]]>
    </hocon>
  </akka>
</configuration>